<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="10" />
            </div>
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="11" />
            </div>
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="12" />
            </div>
        </div>
    </div>
</div>

<div class="meta-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center-block">                     
<f:cObject typoscriptObjectPath="lib.fussmenu">                                         
 	            <p>2015 &copy; 
                 <a target="_blank" href="#">Mehr Land in Sicht!</a> | <a href="#">Impressum</a> | <a href="#">Kontakt</a>
                </p>
</f:cObject>
            </div>
        </div>
    </div>
</div>
